<div class="col-md-6 col-contered">
<div class="panel panel-info">
  <div class="panel-heading">
    <h3>编辑任务</h3>
  </div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
 </div>
</div>
