/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



 //---------Navbar---------

 .navbar-default {
     background-color: #303030;
     border-color: #212121;

     border-radius: 0;
 }

 .navbar-default .navbar-brand {
     color: #FF0000;
     padding: 10px 15px;
     line-height: 30px;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #FF9900;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > li > a {
     color: #FF0000;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #FF9900;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FF0000;
     background-color: #FF0000;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #FF6633;
     color: #212121;
 }



//---------Footer---------


footer{position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  background-color: #D0D0D0;

}


 //-----Common-----

 .col-contered {
   float: none;
   margin: 0 auto;
 }
