
<footer class="text-center">
   <div class="footer-below">
     <h4>
       <p class="text-center">Copyright ©2018
         <a href="#"></a>
         Task site
           <br>Design by zhaochang
           <h6>当前用户数量为：<%= User.count %></h6>
       </p>
     </h4>
   </div>
</footer>
